
<main class="col-auto">
	<div class="card" style="width: 95% align-center;">
		<div class="card-header">
		Featured Talk
		</div>
		<ul class="list-group list-group-flush">
		<li class="post-list list-group-item">USER POST</li>
		<li class="post-list list-group-item">USER POST</li>
		<li class="post-list list-group-item">USER POST</li>
		</ul>
	</div>
</main>
