

<main class="col-auto">
	<h1>{{title}}</h1>

	<p>{{body}}</p>


	{{#if req.session.loggedIn}}
	<div class="post card">
		<div class="card-header">
		<h2>Add Comment</h2>
		</div>
		<form id="new-post-form" class="card-body">

		<input type="text" name="post-id" class="form-input" value="{{post.id}}"/>

		<label class="form-label" for="post-body">Talk</label>

		<textarea name="post-body" class="form-input"></textarea>
	
	
	<ul style="list-style: none;">
		<li><button type="submit" class="btn talk-adds">👉 Add Your Talk</button>
		</li>
	</ul>
		</form>
	</div>
	{{/if}}


	{{#if post.Comments}}
	<h2>Comments</h2>

	{{#each}}
	<p>{{Comments.body}}</p>

	{{/each}}

	{{/if}}
</main>



{{#if Comments}}
<script src="/js/comment.js"></script>
{{/if}}
</body>
</html>