
<body class="flex-column min-100-vh">
	<nav class="navbar navbar-light bg-light">
	<ul>
		<a class="navbar-brand" href="/">Home</a>
		<a class="navbar-brand" href="/dashboard">Dashboard</a>
		<a class="navbar-brand" href="/login">Login</a>
		<a class="navbar-brand" href="#" id="logout-link">Logout</a>
	</ul>
</nav>
<header class="hero">
	<h1 class="hero-title mx-auto" style="width: 400px"><a id="title-link" href="/">Tech Talk Blog</a></h1>
</header>

<main class="col-auto">
	<div class="card" style="width: 95% align-center;">
		<div class="card-header">
		Featured Talk
		</div>
		<ul class="list-group list-group-flush">
		<li class="post-list list-group-item">USER POST</li>
		</ul>
	</div>
</main>
<footer class="flex-row justify-center"><a id="footer-link" href="/dashboard/new">👉 Add Talk</a>
</footer>





</body>
</html>